head
  meta(charset="utf-8")
  title Boardless Games

  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

  link(href="//cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" rel="stylesheet")
  link(href="//maxcdn.bootstrapcdn.com/bootswatch/latest/slate/bootstrap.min.css" rel="stylesheet")
  link(href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css" rel="stylesheet")

  script(src="//cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js")