template(name="game")
  .container-fluid.text-center
    .row
      +each players
        +player
    .row
      .col-xs-6.btn.btn-default
        | Approved
      .col-xs-6.btn.btn-default
        | Decline