template(name="join")
  .container-fluid.text-center
    .row
      each players
        .col-xs-3(class="#{playerClass}")
          | #{name}

    .row
      if imGameMaster
        .col-xs-offset-3.col-xs-6.btn.btn-default.btn-start(class="#{btnStartClass}")
          | Start Game
      else if canJoin
        .col-xs-offset-3.col-xs-6.btn.btn-default.btn-join
          | Join Game
      else
        .col-xs-offset-3.col-xs-6
          | Waiting for other players