template(name="join")
  .container-fluid.text-center
    each players
      .col-xs-3.wow.fadeInDown(class="#{playerClass}")
        .col-xs-offset-4.col-xs-4
          .circle
          | #{name}
    .row
      if imGameMaster
        .col-xs-offset-3.col-xs-6.btn.btn-default.btn-start(class="#{btnStartClass}") Start Game
      else
        if canJoin
          .col-xs-offset-3.col-xs-6.btn.btn-default.btn-join Join Game
        else
          .col-xs-offset-3.col-xs-6  Waiting for other players