template(name="love_letters")
  .container-fluid.text-center
    .row
      .col-xs-1
        | Played cards
      each cards
        .col-xs-1
          | #{this.name} : #{cardCount}
      .col-xs-1
        | discarded: ?
    .row
      each players
        .col-xs-2
          | #{this.name}
        //TODO check if you can see his card
    .row
      .col-xs-offset-2.col-xs-3
        | Your card
      each myCards
        .col-xs-2
          | #{this}