.screen {
    min-height: 100vh;
}

#screens {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
}

.protected {
    background: darkcyan;
}

.out {
    background: darkred;
}

.turn {
    background: darkgreen;
}

.winner {
    background: yellow;
}

.card.selected img {
    border: lime;
    border-width: medium;
    border-style: dotted;
}

.player .btn{
    padding-left: 50px;
    padding-right: 50px;
}