template(name="traitor")
  .container-fluid.text-center
    .row
      each players
        +player
    .row
      if canVote
        .col-xs-6.btn.btn-default.btn-yes
          | Yes
        .col-xs-6.btn.btn-default.btn-no
          | No