template(name="traitor")
  .container-fluid.text-center
    .row
      each players
        +player
    .row
      if canVote
        .col-xs-6.btn.btn-default.btn-yes Yes
        .col-xs-6.btn.btn-default.btn-no No
      else if me.leader
        if canStartMission
          .col-xs-6.col-xs-offset-3.btn.btn-default.btn-strat-mission start mission
        else
          | Select #{playersPerMission} players